<div class="mb-4">
  <h3 class="text-lg font-medium text-gray-900">
    <img src="assets/svgs/chat.svg" class="w-6 h-6 inline" /> Comments
  </h3>
  <ul class="space-y-2 text-sm mt-2 overflow-auto max-h-96">
    <li
      *ngFor="let comment of comments$ | async"
      class="p-2 bg-gray-100 rounded shadow-sm"
    >
      <img
        [src]="comment.user?.avatar ?? 'assets/svgs/user.svg'"
        class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 inline mr-4"
      />
      <span class="font-bold italic mr-4"
        >{{ comment.user?.name ?? "UNKNOWN" }}:</span
      >
      <span [innerHTML]="formatCommentForTags(comment.message)"></span>
    </li>
  </ul>

  <div class="mt-4">
    <form (ngSubmit)="commentSubmit()">
      <app-tag-input
        [users$]="users$"
        [(ngModel)]="newCommentMessage"
        (taggedUserIdsChange)="onTaggedUserIdsChange($event)"
        name="commentMessage"
      />
      <div class="flex items-center space-x-2">
        <button
          type="submit"
          class="text-sm px-2 py-1 mt-4 text-white bg-orange-500 rounded hover:bg-orange-400"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
