<section>
  <div class="p-8 mx-auto max-w-5xl">
    <!-- Heading -->
    <div class="mb-6">
      <h2 class="text-2xl font-semibold text-gray-900">Asset Tasks Overview</h2>
      <p class="text-sm text-gray-600">
        List of asset tasks with status, parts needed, notes, and assigned
        personnel.
      </p>
    </div>

    <!-- Asset Details -->
    <div class="bg-white border border-gray-200 p-6 rounded-lg shadow-sm mb-6">
      @if (asset$ | async; as asset) {
      <h3 class="text-lg font-medium leading-6 text-gray-900">
        {{ asset.name }}
      </h3>
      <p class="mt-1 text-sm text-gray-500">
        {{ asset.description }}
      </p>
      }
    </div>

    <!-- Tasks List -->
    <div class="bg-white border border-gray-200 rounded-lg shadow-sm">
      <div class="px-6 py-4 border-b border-gray-200">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Tasks</h3>
      </div>
      <div class="divide-y divide-gray-200">
        @for (task of tasks$ | async; track task) {
        <div
          (click)="openTaskModal(task.id)"
          class="cursor-pointer flex py-4 px-6 items-center hover:bg-gray-50"
        >
          <!-- Task Details -->
          <div class="w-1/4 pr-2">
            <h4 class="text-sm font-medium text-gray-900 truncate">
              {{ task.name }}
            </h4>
            <p class="mt-1 text-sm text-gray-500 truncate">Part A, Part B</p>
          </div>
          <!-- Notes Section -->
          <div class="w-1/4 px-2">
            <p
              class="text-sm font-medium text-gray-700 bg-gray-100 p-2 rounded-md truncate"
            >
              <img src="assets/svgs/note.svg" class="w-4 h-4 inline" />
              {{ task.notes }}
            </p>
          </div>
          <!-- Status -->
          <div class="flex justify-end w-1/4 px-2 pr-6">
            <span
              class="py-1 px-3 text-xs font-medium text-gray-800 shadow-md truncate"
              [ngClass]="getStatusClass(task.status)"
            >
              <img
                [src]="getStatusImage(task.status)"
                class="w-4 h-4 inline pr-1"
              />
              {{ task.status }}
            </span>
          </div>
          <!-- Assigned To -->
          <div class="w-1/4 px-2 flex items-center space-x-2">
            <div *ngIf="task.assignedUser; else noUser">
              <img
                [src]="task.assignedUser.avatar"
                alt="User Name"
                class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 inline mr-4"
              />
              <span class="truncate">{{ task.assignedUser.name }}</span>
            </div>
            <ng-template #noUser>
              <img
                src="assets/svgs/user.svg"
                alt="User Name"
                class="w-10 h-10"
              />
              <span class="text-sm truncate">UNKNOWN</span>
            </ng-template>
          </div>
        </div>
        } @empty {
        <p class="p-10 font-semibold">
          Oops... this asset doesn't have any tasks at the moment.
        </p>
        }
      </div>
    </div>
  </div>
</section>
