<div class="flex flex-col h-full bg-white">
  <div class="flex-1 px-6 py-4">
    <!-- Header Section -->
    <div class="flex justify-between">
      <div class="my-4">
        <h2 class="text-2xl font-semibold">{{ task.name }}</h2>
        <p class="text-sm text-gray-600">
          Assigned to: {{ task.assignedUser?.name }}
        </p>
        <p class="mt-2">{{ task.status }}</p>
      </div>
      <div>
        <button (click)="closeModal()" class="w-6 h-6 focus:outline-none">
          <img src="assets/svgs/close.svg" />
        </button>
      </div>
    </div>

    <!-- Task Notes Section -->
    <div class="mb-4">
      <h3 class="text-lg font-medium text-gray-900">Notes</h3>
      <p class="text-sm text-gray-600">{{ task.notes }}</p>
    </div>

    <!-- Composable Comments Section -->
    <app-comment-section
      [comments]="comments"
      [users]="users"
      (submitComment)="postCommentByUserId($event)"
    />

    <!-- Close Button -->
    <div class="px-6 py-4 bg-gray-100 rounded-b-lg text-right">
      <button
        (click)="closeModal()"
        class="px-4 py-2 text-white bg-red-600 rounded hover:bg-red-700"
      >
        Close
      </button>
    </div>
  </div>
</div>
